Simple decision tree on Iris database

In [14]:
import pandas as pd

In [2]:
pd.Series([1,3,5,7])

0    1
1    3
2    5
3    7
dtype: int64

In [17]:
pd.Series?

In [16]:
df = pd.read_csv('iris.csv')
df.describe()
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
from sklearn.model_selection import train_test_split

In [7]:
X = df.drop('Species', axis=1)
y = df['Species']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7)

In [8]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

model.fit(X_train, y_train)

DecisionTreeClassifier()

In [9]:
y_pred = model.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score

In [11]:
accuracy_score(y_test, y_pred)

0.9111111111111111

In [12]:
from sklearn.metrics import confusion_matrix

In [13]:
confusion_matrix(y_test, y_pred)

array([[ 7,  0,  0],
       [ 0, 18,  0],
       [ 0,  4, 16]], dtype=int64)

Some pandas functions

In [18]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [27]:
df = pd.DataFrame([[1,2,3],[4,5,6]], columns=['ime','prezime','godina'])

In [28]:
pd.DataFrame?

In [29]:
df.iloc[0:-1]

   ime  prezime  godina
0    1        2       3

In [30]:
df[df['godina'] > 25]

Empty DataFrame
Columns: [ime, prezime, godina]
Index: []

In [33]:
df = pd.read_excel('skupV1.xlsx')

In [34]:
df.head

<bound method NDFrame.head of     id    name  age gender
0    1     Ana   20      F
1    2   Marko    3      M
2    3  Veljko   50      M
3    4     Ana   18      F
4    5   Milan   10    NaN
5    6   Vanja   65      F
6    7    Mila   80      F
7    8   Goran   30    NaN
8    9  Jovana  250      F
9   10   Ivana   16      F
10  11     NaN   25      F
11  12           36      M>

In [35]:
df.describe()

              id         age
count  12.000000   12.000000
mean    6.500000   50.250000
std     3.605551   66.901726
min     1.000000    3.000000
25%     3.750000   17.500000
50%     6.500000   27.500000
75%     9.250000   53.750000
max    12.000000  250.000000

In [36]:
df.dropna()

    id    name  age gender
0    1     Ana   20      F
1    2   Marko    3      M
2    3  Veljko   50      M
3    4     Ana   18      F
5    6   Vanja   65      F
6    7    Mila   80      F
8    9  Jovana  250      F
9   10   Ivana   16      F
11  12           36      M

In [38]:
df.shape

(12, 4)

In [39]:
df.isna().any()

id        False
name       True
age       False
gender     True
dtype: bool

In [42]:
df.corr()

           id       age
id   1.000000  0.258348
age  0.258348  1.000000

In [41]:
df.isna().any()

id        False
name       True
age       False
gender     True
dtype: bool

Decision Tree tinkering with iris.csv

In [43]:
df = pd.read_csv('iris.csv')

In [44]:
df.head

<bound method NDFrame.head of      Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [52]:
feature_names = model.classes_

In [46]:
model.feature_importances_

array([0.        , 0.04336735, 0.34124395, 0.6153887 ])

In [47]:
from sklearn.tree import plot_tree

In [48]:
from matplotlib import pyplot as plt

In [50]:
plt.figure(figsize =(10, 10))

In [54]:
from sklearn.model_selection import GridSearchCV

In [57]:
params = {'criterion' : ['gini', 'entropy'],
          'max_depth' : [2,3,4]}

In [61]:
model = GridSearchCV(DecisionTreeClassifier(), param_grid = params, scoring = 'accuracy', cv = 5, verbose = 4)

In [58]:
GridSearchCV?

In [62]:
model.fit(X_train, y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV 1/5] END ....................criterion=gini, max_depth=2; total time=   0.0s
[CV 2/5] END ....................criterion=gini, max_depth=2; total time=   0.0s
[CV 3/5] END ....................criterion=gini, max_depth=2; total time=   0.0s
[CV 4/5] END ....................criterion=gini, max_depth=2; total time=   0.0s
[CV 5/5] END ....................criterion=gini, max_depth=2; total time=   0.0s
[CV 1/5] END ....................criterion=gini, max_depth=3; total time=   0.0s
[CV 2/5] END ....................criterion=gini, max_depth=3; total time=   0.0s
[CV 3/5] END ....................criterion=gini, max_depth=3; total time=   0.0s
[CV 4/5] END ....................criterion=gini, max_depth=3; total time=   0.0s
[CV 5/5] END ....................criterion=gini, max_depth=3; total time=   0.0s
[CV 1/5] END ....................criterion=gini, max_depth=4; total time=   0.0s
[CV 2/5] END ....................criterion=gini, max_depth=4; total time=   0.0s
[CV 3/5] END ....................criterion=gini, max_depth=4; total time=   0.0s
[CV 4/5] END ....................criterion=gini, max_depth=4; total time=   0.0s
[CV 5/5] END ....................criterion=gini, max_depth=4; total time=   0.0s
[CV 1/5] END .................criterion=entropy, max_depth=2; total time=   0.0s
[CV 2/5] END .................criterion=entropy, max_depth=2; total time=   0.0s
[CV 3/5] END .................criterion=entropy, max_depth=2; total time=   0.0s
[CV 4/5] END .................criterion=entropy, max_depth=2; total time=   0.0s
[CV 5/5] END .................criterion=entropy, max_depth=2; total time=   0.0s
[CV 1/5] END .................criterion=entropy, max_depth=3; total time=   0.0s
[CV 2/5] END .................criterion=entropy, max_depth=3; total time=   0.0s
[CV 3/5] END .................criterion=entropy, max_depth=3; total time=   0.0s
[CV 4/5] END .................criterion=entropy, max_depth=3; total time=   0.0s
[CV 5/5] END .................criterion=entropy, max_depth=3; total time=   0.0s
[CV 1/5] END .................criterion=entropy, max_depth=4; total time=   0.0s
[CV 2/5] END .................criterion=entropy, max_depth=4; total time=   0.0s
[CV 3/5] END .................criterion=entropy, max_depth=4; total time=   0.0s
[CV 4/5] END .................criterion=entropy, max_depth=4; total time=   0.0s
[CV 5/5] END .................criterion=entropy, max_depth=4; total time=   0.0s

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 3, 4]},
             scoring='accuracy', verbose=4)

In [63]:
model.best_estimator_

DecisionTreeClassifier(max_depth=4)

In [64]:
model.best_params_

{'criterion': 'gini', 'max_depth': 4}

In [65]:
model.best_score_

0.9428571428571428